.collapse-item{
     width: 90%;
     max-width: 1540px;
     margin: 20px auto;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     position: relative;
     height: initial;
}

.toggle-container{
     background-color: #FF6060;
     color: white;
     border-radius: 10px;
     padding: 10px 15px;
     display: flex;
     justify-content: space-between;
     position: relative;
     cursor: pointer;
     font-size: 20px;
}

.toggle-container h5{
     margin: 0;
     pointer-events: none;
}

.toggle-container span{
     border: solid white;
     border-width: 0 3px 3px 0;
     display: inline-block;
     width: 5px;
     height: 5px;
     padding: 3px;
     -webkit-transform: rotate(-45deg);
     position: absolute;
     top: 25%;
     transform: rotate(225deg) translateY(-50%);
     right: 20px;
     transition: 0.3s;
     pointer-events: none;
}

.toggle-container span.active {
     transform: rotate(45deg);
}

.texte-container{
     background-color: #e5e5e5;
     border-radius: 10px;
     height: 0;
     transition: height 0.4s;
}

.collapse-txt-container,
.collapse-txt {
     padding: 30px;
     color: #FF6060;
     margin: 0;
}

.collapse-txt-container .collapse-txt {
     padding: 5px 0;
}