.header-container{
     display: flex;
     justify-content: space-between;
}

.header-logo{
     max-width: 200px;
}

.link-container{
     display: flex;
     padding: 30px 20px;
}

.link-container a{
     text-decoration: none;
     color: salmon;
     margin-inline: 20px;
}