.header-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

header a {
     display: block;
}

.header-logo{
     max-width: 200px;
     padding-left: 10px;
}

.link-container{
     display: flex;
     padding: 30px 20px;
}

.link-container a{
     text-decoration: none;
     color: #FF6060;
     margin-inline: 20px;
     font-weight: 500;
}

@media screen and (max-width:500px) {
     .header-logo{
          width: 140px;
     }

     .link-container{
          padding: 0;
     }

     .link-container a{
          white-space: nowrap;
          text-transform: uppercase;
     }
}

@media screen and (max-width:400px) {
     .header-logo{
          width: 120px;
     }
}