.bloc-container{
     display: flex;
     flex-wrap: wrap;
     padding: 30px;
     background-color: #ededed;
     margin: 0 20px;
     border-radius: 20px;
}

@media screen and (max-width:600px) {
     .bloc-container{
          margin: 0;
          background-color: white;
     }
}